<h2>Please enter your two numbers and select
<form method="post" action="calc">
	<input type="number" name="num1">
	<input type="number" name="num2">
	<div>
		<input type="radio" name="button" value="+">Add
	</div>
	<div>
		<input type="radio" name="button" value="-">Subtract
	</div>
	<div>
		<input type="radio" name="button" value="*">Multiply
	</div>
	<div>
		<input type="radio" name="button" value="/">Divide
	</div>
		<input type="submit" value="Submit">
</form>